.row-header{
/*0 px and auto means that the top and bottom have 0 px and the rest of the space in the right and left should be the same*/
	margin: 0px auto;
	padding:0px auto;
    

}
.row-content{

	margin: 0px auto;
    padding:50px  auto;
    border-bottom: 1px solid gray;
    min-height: 400px;
}
.footer{
	margin:0px auto;
	padding: 20px 0 auto;
    background-color: green;
}
.jumbotron{

	padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;

}
.adress{
	margin-top: 40px;
}

body {
	padding:50px 0px 0px 0px;
	z-index: 1;
}
.navbar-dark{
	background-color: #525f;
}